.bgImg {
  background-image: url(../assets/img/homeHeroBgImg.png);
  background-size: cover;
  background-position: center;
  /* height: 680px;  */
  /* h-64 in Tailwind (4rem * 16) */
  width: 100%;
}

.textGradient {
  background: linear-gradient(
    90deg,
    #4294f7 30%,
    #8a1af5 40.52%,
    #ea3394 80.05% /* #f19c38 60.13% */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statusTextGradient {
  background: linear-gradient(139.79deg, #5e77e7 19.65%, #8e61dd 76.91%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 0px) and (max-width: 400px) {
  .bgImg {
    background-image: url(../assets/img/upiBg.png);
    height: 510px;
  }
}

@media (min-width: 400px) and (max-width: 450px) {
  .bgImg {
    background-image: url(../assets/img/upiBg.png);
    height: 560px;
  }
}

@media (min-width: 451px) and (max-width: 500px) {
  .bgImg {
    background-image: url(../assets/img/upiBg.png);
    height: 596px;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .bgImg {
    background-image: url(../assets/img/upiBg.png);
    height: 596px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .bgImg {
    background-image: url(../assets/img/upiBg.png);
    height: 450px;
  }
}
@media (min-width: 1024px) and (max-width: 1100px) {
  .bgImg {
    background-image: url(../assets/img/upiBg.png);
    height: 500px;
  }
}

@media (min-width: 1101px) and (max-width: 1279px) {
  .bgImg {
    background-image: url(../assets/img/upiBg.png);
    /* height: 610px; */
  }
}
